Craigslist.xcodeproj/project.xcworkspace/xcuserdata/daniilstatiev.xcuserdatad/UserInterfaceState.xcuserstate
Craigslist.xcodeproj/xcuserdata/daniilstatiev.xcuserdatad/xcschemes/xcschememanagement.plist
